In [2]:
import numpy as np
import pandas as pd

<h1>Grouping of Data</h1>

<h2>groupby Operation</h2>

<b>Read in and examine data </b>

In [5]:
uefaDF=pd.read_csv('./data/euro_winners.csv')

In [6]:
uefaDF.head()

,Season,Nation,Winners,Score,Runners-up,Runner-UpNation,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Stade de Reims,France,"Parc des Princes,Paris",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Spain,Real Madrid,3–2,Milan,Italy,"Heysel Stadium,Brussels",67000
3,1958–59,Spain,Real Madrid,2–0,Stade de Reims,France,"Neckarstadion,Stuttgart",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,Germany,"Hampden Park,Glasgow",127621

<b>Rank nations by number of club championships</b>

In [8]:
nationsGrp =uefaDF.groupby('Nation')
type(nationsGrp)

pandas.core.groupby.DataFrameGroupBy

In [9]:
nationsGrp.groups

{'England': [12, 21, 22, 23, 24, 25, 26, 28, 43, 49, 52, 56],
 'France': [37],
 'Germany': [18, 19, 20, 27, 41, 45, 57],
 'Italy': [7, 8, 9, 13, 29, 33, 34, 38, 40, 47, 51, 54],
 'Netherlands': [14, 15, 16, 17, 32, 39],
 'Portugal': [5, 6, 31, 48],
 'Romania': [30],
 'Scotland': [11],
 'Spain': [0, 1, 2, 3, 4, 10, 36, 42, 44, 46, 50, 53, 55],
 'Yugoslavia': [35]}

<b>Obtain number of groups</b>

In [10]:
len(nationsGrp.groups)

10

<b>Display the number of wins by each nation in descending order:</b>

In [11]:
nationWins=nationsGrp.size()

In [12]:
nationWins.sort(ascending=False);nationWins

Nation
Spain          13
Italy          12
England        12
Germany         7
Netherlands     6
Portugal        4
Yugoslavia      1
Scotland        1
Romania         1
France          1
dtype: int64

In [14]:
winnersGrp=uefaDF.groupby(['Nation','Winners'])
clubWins=winnersGrp.size()
clubWins.sort(ascending=False)
clubWins

Nation       Winners
Spain        Real Madrid          9
Italy        Milan                7
Germany      Bayern Munich        5
England      Liverpool            5
Spain        Barcelona            4
Netherlands  Ajax                 4
England      Manchester United    3
Italy        Internazionale       3
             Juventus             2
Portugal     Porto                2
             Benfica              2
England      Nottingham Forest    2
             Chelsea              1
France       Marseille            1
Yugoslavia   Red Star Belgrade    1
Germany      Borussia Dortmund    1
             Hamburg              1
Netherlands  Feyenoord            1
             PSV Eindhoven        1
Romania      Steaua Bucure?ti     1
Scotland     Celtic               1
England      Aston Villa          1
dtype: int64

<b>Read in goal stats dataset</b>

In [17]:
goalStatsDF=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF=goalStatsDF.set_index('Month')

<b>Snapshot of dataset:</b>

In [18]:
goalStatsDF.head(3)

                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20       20       10          10
09/01/2012  MatchesPlayed   38       39       50          44
10/01/2012  MatchesPlayed   31       31       39          27

In [19]:
goalStatsDF.tail(3)

                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  GoalsScored  105      127      102         104
05/01/2013  GoalsScored   96      109      102          92
06/01/2013  GoalsScored  NaN       80      NaN         NaN

<b>Display the stats, but by grouped year instead. </b>

In [ ]:
goalStatsGroupedByYear = goalStatsDF.groupby(lambda Month: Month.split('/')[2])

In [23]:
for name, group in goalStatsGroupedByYear:
    	      print name
    	      print group

2012
                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20       20       10          10
09/01/2012  MatchesPlayed   38       39       50          44
10/01/2012  MatchesPlayed   31       31       39          27
11/01/2012  MatchesPlayed   50       41       42          46
12/01/2012  MatchesPlayed   59       39       39          26
08/01/2012    GoalsScored   57       60       21          23
09/01/2012    GoalsScored  111      112      133         135
10/01/2012    GoalsScored   95       88       97          77
11/01/2012    GoalsScored  121      116      120         137
12/01/2012    GoalsScored  183      109      125          72
2013
                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42       40       40          18
02/01/2013  MatchesPlayed   30       40       40          36
03/01/2013  MatchesPlayed   35       38       39          36
04/01/2013  MatchesPlayed   42       42       41          36
05/01/2013  MatchesPlayed   33       40       40          27
06/02/2013  MatchesPlayed  NaN       10      NaN         NaN
01/01/2013    GoalsScored  117      121      104          51
02/01/2013    GoalsScored   87      110      100         101
03/01/2013    GoalsScored   91      101       99         106
04/01/2013    GoalsScored  105      127      102         104
05/01/2013    GoalsScored   96      109      102          92
06/01/2013    GoalsScored  NaN       80      NaN         NaN

<b>Group by individual month using level arg:</b>

In [24]:
goalStatsGroupedByMonth = goalStatsDF.groupby(level=0)

In [28]:
for name, group in goalStatsGroupedByMonth:
    #print name 
    print group
    print "\n"

                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42       40       40          18
01/01/2013    GoalsScored  117      121      104          51


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
02/01/2013  MatchesPlayed   30       40       40          36
02/01/2013    GoalsScored   87      110      100         101


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
03/01/2013  MatchesPlayed   35       38       39          36
03/01/2013    GoalsScored   91      101       99         106


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  MatchesPlayed   42       42       41          36
04/01/2013    GoalsScored  105      127      102         104


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
05/01/2013  MatchesPlayed   33       40       40          27
05/01/2013    GoalsScored   96      109      102          92


                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/01/2013  GoalsScored  NaN       80      NaN         NaN


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/02/2013  MatchesPlayed  NaN       10      NaN         NaN


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20       20       10          10
08/01/2012    GoalsScored   57       60       21          23


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
09/01/2012  MatchesPlayed   38       39       50          44
09/01/2012    GoalsScored  111      112      133         135


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
10/01/2012  MatchesPlayed   31       31       39          27
10/01/2012    GoalsScored   95       88       97          77


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
11/01/2012  MatchesPlayed   50       41       42          46
11/01/2012    GoalsScored  121      116      120         137


                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
12/01/2012  MatchesPlayed   59       39       39          26
12/01/2012    GoalsScored  183      109      125          72

<b>group by multiple keys:</b>

In [39]:
goalStatsDF=goalStatsDF.reset_index()
goalStatsDF=goalStatsDF.set_index(['Month','Stat'])

In [41]:
monthStatGroup=goalStatsDF.groupby(level=['Month','Stat'])
for name, group in monthStatGroup:
          print name
          print group

('01/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
01/01/2013 GoalsScored       16     16  117      121      104          51
('01/01/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
01/01/2013 MatchesPlayed        5      5   42       40       40          18
('02/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
02/01/2013 GoalsScored       17     17   87      110      100         101
('02/01/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
02/01/2013 MatchesPlayed        6      6   30       40       40          36
('03/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
03/01/2013 GoalsScored       18     18   91      101       99         106
('03/01/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
03/01/2013 MatchesPlayed        7      7   35       38       39          36
('04/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
04/01/2013 GoalsScored       19     19  105      127      102         104
('04/01/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
04/01/2013 MatchesPlayed        8      8   42       42       41          36
('05/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
05/01/2013 GoalsScored       20     20   96      109      102          92
('05/01/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
05/01/2013 MatchesPlayed        9      9   33       40       40          27
('06/01/2013', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
06/01/2013 GoalsScored       21     21  NaN       80      NaN         NaN
('06/02/2013', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
06/02/2013 MatchesPlayed       10     10  NaN       10      NaN         NaN
('08/01/2012', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 GoalsScored       11     11   57       60       21          23
('08/01/2012', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 MatchesPlayed        0      0   20       20       10          10
('09/01/2012', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
09/01/2012 GoalsScored       12     12  111      112      133         135
('09/01/2012', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
09/01/2012 MatchesPlayed        1      1   38       39       50          44
('10/01/2012', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
10/01/2012 GoalsScored       13     13   95       88       97          77
('10/01/2012', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
10/01/2012 MatchesPlayed        2      2   31       31       39          27
('11/01/2012', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
11/01/2012 GoalsScored       14     14  121      116      120         137
('11/01/2012', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
11/01/2012 MatchesPlayed        3      3   50       41       42          46
('12/01/2012', 'GoalsScored')
                        level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
12/01/2012 GoalsScored       15     15  183      109      125          72
('12/01/2012', 'MatchesPlayed')
                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
12/01/2012 MatchesPlayed        4      4   59       39       39          26

<h3>Using groupby with a MultiIndex</h3>

<b>Read in the goal stats DataFrame again:</b>

In [43]:
goalStatsDF3=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF3=goalStatsDF3.set_index(['Month','Stat'])

In [53]:
print goalStatsDF3.head(3)
print goalStatsDF3.tail(3)

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 MatchesPlayed   20       20       10          10
09/01/2012 MatchesPlayed   38       39       50          44
10/01/2012 MatchesPlayed   31       31       39          27
                        EPL  La Liga  Serie A  Bundesliga
Month      Stat
04/01/2013 GoalsScored  105      127      102         104
05/01/2013 GoalsScored   96      109      102          92
06/01/2013 GoalsScored  NaN       80      NaN         NaN

<b>Compute the total number of goals scored and total matches played for the entire season for each league.</b>

In [47]:
grouped3=goalStatsDF3.groupby(level='Stat')
grouped3.sum()

                EPL  La Liga  Serie A  Bundesliga
Stat
GoalsScored    1063     1133     1003         898
MatchesPlayed   380      380      380         306

<b>Use sum directly but pass level as parameter to achieve same result.</b>

In [45]:
goalStatsDF3.sum(level='Stat')

                EPL  La Liga  Serie A  Bundesliga
Stat
GoalsScored    1063     1133     1003         898
MatchesPlayed   380      380      380         306

<b>Calculate goals per game ratio</b>:

In [54]:
totalsDF=grouped3.sum()
totalsDF.ix['GoalsScored']/totalsDF.ix['MatchesPlayed']

EPL           2.797368
La Liga       2.981579
Serie A       2.639474
Bundesliga    2.934641
dtype: float64

In [55]:
gpg=totalsDF.ix['GoalsScored']/totalsDF.ix['MatchesPlayed']
goalsPerGameDF=pd.DataFrame(gpg).T
goalsPerGameDF

        EPL   La Liga   Serie A  Bundesliga
0  2.797368  2.981579  2.639474    2.934641

In [56]:
goalsPerGameDF=goalsPerGameDF.rename(index={0:'GoalsPerGame'}) 
goalsPerGameDF

                   EPL   La Liga   Serie A  Bundesliga
GoalsPerGame  2.797368  2.981579  2.639474    2.934641

<b>Format and append goalsPerGameDF to original DataFrame:</b>

In [57]:
pd.options.display.float_format='{:.2f}'.format 
totalsDF.append(goalsPerGameDF)

                  EPL  La Liga  Serie A  Bundesliga
GoalsScored   1063.00  1133.00  1003.00      898.00
MatchesPlayed  380.00   380.00   380.00      306.00
GoalsPerGame     2.80     2.98     2.64        2.93

<h3>Using the aggregate method</h3>

In [58]:
pd.options.display.float_format=None
grouped3.aggregate(np.sum)

                EPL  La Liga  Serie A  Bundesliga
Stat
GoalsScored    1063     1133     1003         898
MatchesPlayed   380      380      380         306

<h3>Applying multiple functions</h3>

<b>Specify list of functions to be applied to each column:</b>

In [60]:
grouped3.aggregate([np.sum, np.mean,np.size])

                EPL               La Liga                    Serie A         \
                sum   mean  size      sum        mean  size      sum   mean
Stat
GoalsScored    1063  106.3    11     1133  103.000000    11     1003  100.3
MatchesPlayed   380   38.0    11      380   34.545455    11      380   38.0

                     Bundesliga
               size         sum  mean  size
Stat
GoalsScored      11         898  89.8    11
MatchesPlayed    11         306  30.6    11

<b>Grouped Series</b>

In [61]:
nationsGrp['Attendance'].agg({'Total':np.sum, 'Average':np.mean, 'Deviation':np.std})

                Deviation       Average   Total
Nation
England      17091.309877  66534.250000  798411
France                NaN  64400.000000   64400
Germany      13783.830076  67583.285714  473083
Italy        17443.516494  65761.250000  789135
Netherlands  16048.580972  67489.000000  404934
Portugal     15632.863259  49635.500000  198542
Romania               NaN  70000.000000   70000
Scotland              NaN  45000.000000   45000
Spain        27457.531064  73477.153846  955203
Yugoslavia            NaN  56000.000000   56000

<h3>The transform( ) method</h3>

In [72]:
goalStatsDF

                          level_0  index  EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 MatchesPlayed        0      0   20       20       10          10
09/01/2012 MatchesPlayed        1      1   38       39       50          44
10/01/2012 MatchesPlayed        2      2   31       31       39          27
11/01/2012 MatchesPlayed        3      3   50       41       42          46
12/01/2012 MatchesPlayed        4      4   59       39       39          26
01/01/2013 MatchesPlayed        5      5   42       40       40          18
02/01/2013 MatchesPlayed        6      6   30       40       40          36
03/01/2013 MatchesPlayed        7      7   35       38       39          36
04/01/2013 MatchesPlayed        8      8   42       42       41          36
05/01/2013 MatchesPlayed        9      9   33       40       40          27
06/02/2013 MatchesPlayed       10     10  NaN       10      NaN         NaN
08/01/2012 GoalsScored         11     11   57       60       21          23
09/01/2012 GoalsScored         12     12  111      112      133         135
10/01/2012 GoalsScored         13     13   95       88       97          77
11/01/2012 GoalsScored         14     14  121      116      120         137
12/01/2012 GoalsScored         15     15  183      109      125          72
01/01/2013 GoalsScored         16     16  117      121      104          51
02/01/2013 GoalsScored         17     17   87      110      100         101
03/01/2013 GoalsScored         18     18   91      101       99         106
04/01/2013 GoalsScored         19     19  105      127      102         104
05/01/2013 GoalsScored         20     20   96      109      102          92
06/01/2013 GoalsScored         21     21  NaN       80      NaN         NaN

<b>DataFrame of goals scored across 4 Euro leagues 2012-2013</b>

In [139]:
goalStatsDF2=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF2=goalStatsDF2.set_index(['Month'])
goalsScoredDF=goalStatsDF2.ix[goalStatsDF2['Stat']=='GoalsScored']

goalsScoredDF.iloc[:,1:]

            EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012   57       60       21          23
09/01/2012  111      112      133         135
10/01/2012   95       88       97          77
11/01/2012  121      116      120         137
12/01/2012  183      109      125          72
01/01/2013  117      121      104          51
02/01/2013   87      110      100         101
03/01/2013   91      101       99         106
04/01/2013  105      127      102         104
05/01/2013   96      109      102          92
06/01/2013  NaN       80      NaN         NaN

<b>Find mean of goals scored for each league, grouped by year:</b>

In [117]:
goalsScoredPerYearGrp=goalsScoredDF.groupby(lambda Month: Month.split('/')[2])
goalsScoredPerYearGrp.mean()

        EPL  La Liga  Serie A  Bundesliga
2012  113.4       97     99.2        88.8
2013   99.2      108    101.4        90.8

<b>Count of months of football for each year</b>

In [118]:
goalsScoredPerYearGrp.count()

      EPL  La Liga  Serie A  Bundesliga
2012    5        5        5           5
2013    5        6        5           5

<b>Define fill function and fill in missing values</b>

In [119]:
fill_fcn = lambda x: x.fillna(x.mean())
trans = goalsScoredPerYearGrp.transform(fill_fcn)
tGroupedStats = trans.groupby(lambda Month:   Month.split('/')[2])
tGroupedStats.mean()

        EPL  La Liga  Serie A  Bundesliga
2012  113.4       97     99.2        88.8
2013   99.2      108    101.4        90.8

<b>Display count on filled in data:</b>

In [120]:
tGroupedStats.count()

      EPL  La Liga  Serie A  Bundesliga
2012    5        5        5           5
2013    6        6        6           6

<h3>Filtering</h3>

<b>Display which months of the season had more than 100 goals scored in each of the 4 leagues </b>

In [143]:
#goalsScoredDF=goalsScoredDF.iloc[:,1:]
goalsScoredDF

                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  GoalsScored   57       60       21          23
09/01/2012  GoalsScored  111      112      133         135
10/01/2012  GoalsScored   95       88       97          77
11/01/2012  GoalsScored  121      116      120         137
12/01/2012  GoalsScored  183      109      125          72
01/01/2013  GoalsScored  117      121      104          51
02/01/2013  GoalsScored   87      110      100         101
03/01/2013  GoalsScored   91      101       99         106
04/01/2013  GoalsScored  105      127      102         104
05/01/2013  GoalsScored   96      109      102          92
06/01/2013  GoalsScored  NaN       80      NaN         NaN

In [144]:
goalsScoredDF.groupby(level='Month').filter(lambda x: 
                                            np.all([x[col] > 100 for col in goalsScoredDF.columns]))

                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
09/01/2012  GoalsScored  111      112      133         135
11/01/2012  GoalsScored  121      116      120         137
04/01/2013  GoalsScored  105      127      102         104

<h1>Merging and Joining</h1>

In [145]:
stockDataDF=pd.read_csv('./data/tech_stockprices.csv').set_index(['Symbol']);stockDataDF

,Closing price,EPS,Shares Outstanding(M),Beta,P/E,Market Cap(B)
Symbol,,,,,,
AMZN,346.15,0.59,459.00,0.52,589.80,158.88
GOOG,1133.43,36.05,335.83,0.87,31.44,380.64
FB,61.48,0.59,2450.00,NaN,104.93,150.92
YHOO,34.90,1.27,1010.00,27.48,0.66,35.36
TWTR,65.25,-0.30,555.20,NaN,NaN,36.23
AAPL,501.53,40.32,892.45,12.44,447.59,0.84

<h3>The concat function</h3>

<b>Obtain various slices of the data</b>

In [146]:
A=stockDataDF.ix[:4, ['Closing price', 'EPS']]; A

        Closing price    EPS
Symbol
AMZN           346.15   0.59
GOOG          1133.43  36.05
FB              61.48   0.59
YHOO            34.90   1.27

In [147]:
B=stockDataDF.ix[2:-2, ['P/E']];B

           P/E
Symbol
FB      104.93
YHOO      0.66

In [148]:
C=stockDataDF.ix[1:5, ['Market Cap(B)']];C

        Market Cap(B)
Symbol
GOOG           380.64
FB             150.92
YHOO            35.36
TWTR            36.23

<b>Perform concatenation, specifying outer join:</b>

In [150]:
pd.concat([A,B,C],axis=1) # outer join

      Closing price    EPS     P/E  Market Cap(B)
AMZN         346.15   0.59     NaN            NaN
FB            61.48   0.59  104.93         150.92
GOOG        1133.43  36.05     NaN         380.64
TWTR            NaN    NaN     NaN          36.23
YHOO          34.90   1.27    0.66          35.36

<b>Perform concatenation, specifying inner join:</b>

In [151]:
pd.concat([A,B,C],axis=1, join='inner') # Inner join

        Closing price   EPS     P/E  Market Cap(B)
Symbol
FB              61.48  0.59  104.93         150.92
YHOO            34.90  1.27    0.66          35.36

<b>Join on specific index from original DataFrame:</b>

In [152]:
pd.concat([A,B,C], axis=1, join_axes=[stockDataDF.index])

        Closing price    EPS     P/E  Market Cap(B)
Symbol
AMZN           346.15   0.59     NaN            NaN
GOOG          1133.43  36.05     NaN         380.64
FB              61.48   0.59  104.93         150.92
YHOO            34.90   1.27    0.66          35.36
TWTR              NaN    NaN     NaN          36.23
AAPL              NaN    NaN     NaN            NaN

<b>Another case illustrating concat</b>

In [153]:
np.random.seed(100)
normDF=pd.DataFrame(np.random.randn(3,4));normDF

          0         1         2         3
0 -1.749765  0.342680  1.153036 -0.252436
1  0.981321  0.514219  0.221180 -1.070043
2 -0.189496  0.255001 -0.458027  0.435163

In [154]:
binomDF=pd.DataFrame(np.random.binomial(100,0.5,(3,4)));binomDF

    0   1   2   3
0  57  50  57  50
1  48  56  49  43
2  40  47  49  55

In [155]:
poissonDF=pd.DataFrame(np.random.poisson(100,(3,4)));poissonDF

    0   1    2    3
0  93  96   96   89
1  76  96  104  103
2  96  93  107   84

In [156]:
rand_distribs=[normDF,binomDF,poissonDF]

In [157]:
rand_distribsDF=pd.concat(rand_distribs,keys=['Normal', 'Binomial', 'Poisson']);rand_distribsDF

                    0          1           2           3
Normal   0  -1.749765   0.342680    1.153036   -0.252436
         1   0.981321   0.514219    0.221180   -1.070043
         2  -0.189496   0.255001   -0.458027    0.435163
Binomial 0  57.000000  50.000000   57.000000   50.000000
         1  48.000000  56.000000   49.000000   43.000000
         2  40.000000  47.000000   49.000000   55.000000
Poisson  0  93.000000  96.000000   96.000000   89.000000
         1  76.000000  96.000000  104.000000  103.000000
         2  96.000000  93.000000  107.000000   84.000000

<h3>Using append</h3>

In [158]:
stockDataA=stockDataDF.ix[:2,:3]
stockDataA

        Closing price    EPS  Shares Outstanding(M)
Symbol
AMZN           346.15   0.59                 459.00
GOOG          1133.43  36.05                 335.83

In [159]:
stockDataB=stockDataDF[2:]
stockDataB

,Closing price,EPS,Shares Outstanding(M),Beta,P/E,Market Cap(B)
Symbol,,,,,,
FB,61.48,0.59,2450.00,NaN,104.93,150.92
YHOO,34.90,1.27,1010.00,27.48,0.66,35.36
TWTR,65.25,-0.30,555.20,NaN,NaN,36.23
AAPL,501.53,40.32,892.45,12.44,447.59,0.84

In [161]:
stockDataA.append(stockDataB)

,Beta,Closing price,EPS,Market Cap(B),P/E,Shares Outstanding(M)
Symbol,,,,,,
AMZN,NaN,346.15,0.59,NaN,NaN,459.00
GOOG,NaN,1133.43,36.05,NaN,NaN,335.83
FB,NaN,61.48,0.59,150.92,104.93,2450.00
YHOO,27.48,34.90,1.27,35.36,0.66,1010.00
TWTR,NaN,65.25,-0.30,36.23,NaN,555.20
AAPL,12.44,501.53,40.32,0.84,447.59,892.45

In [160]:
stockDataA.append(stockDataB).reindex_axis(stockDataDF.columns, axis=1)

,Closing price,EPS,Shares Outstanding(M),Beta,P/E,Market Cap(B)
Symbol,,,,,,
AMZN,346.15,0.59,459.00,NaN,NaN,NaN
GOOG,1133.43,36.05,335.83,NaN,NaN,NaN
FB,61.48,0.59,2450.00,NaN,104.93,150.92
YHOO,34.90,1.27,1010.00,27.48,0.66,35.36
TWTR,65.25,-0.30,555.20,NaN,NaN,36.23
AAPL,501.53,40.32,892.45,12.44,447.59,0.84

<h3>Appending a single row to a DataFrame</h3>

In [162]:
algos={'search':['DFS','BFS','Binary Search','Linear'],
        'sorting': ['Quicksort','Mergesort','Heapsort','Bubble Sort'],
       'machine learning':['RandomForest','K Nearest Neighbor','Logistic Regression','K-Means Clustering']}
algoDF=pd.DataFrame(algos);algoDF

      machine learning         search      sorting
0         RandomForest            DFS    Quicksort
1   K Nearest Neighbor            BFS    Mergesort
2  Logistic Regression  Binary Search     Heapsort
3   K-Means Clustering         Linear  Bubble Sort

In [163]:
moreAlgos={'search': 'ShortestPath'  , 'sorting': 'Insertion Sort',
            'machine learning': 'Linear Regression'}
algoDF.append(moreAlgos,ignore_index=True)

      machine learning         search         sorting
0         RandomForest            DFS       Quicksort
1   K Nearest Neighbor            BFS       Mergesort
2  Logistic Regression  Binary Search        Heapsort
3   K-Means Clustering         Linear     Bubble Sort
4    Linear Regression   ShortestPath  Insertion Sort

<h2>SQL-Like Merging/Joining of DataFrame objects</h2>

<b>Read stock data into DataFrame</b>

In [164]:
USIndexDataDF=pd.read_csv('./data/us_index_data.csv')
USIndexDataDF

  TradingDate   Nasdaq  S&P 500  Russell 2000      DJIA
0  2014/01/30  4123.13  1794.19       1139.36  15848.61
1  2014/01/31  4103.88  1782.59       1130.88  15698.85
2  2014/02/03  3996.96  1741.89       1094.58  15372.80
3  2014/02/04  4031.52  1755.20       1102.84  15445.24
4  2014/02/05  4011.55  1751.64       1093.59  15440.23
5  2014/02/06  4057.12  1773.43       1103.93  15628.53