In [2]:
%pylab inline
import numpy as np
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

## Index
* Merge on key column
    * [inner join](#innerjoin)
    * [outer join](#outerjoin)
    * [join on multiple keys](#multikeys)
* [Merge on Index](#mergeonindex)
    * [join](#join)

## Merge on key column
<a id="innerjoin"></a>
### inner join
By default merge does an 'inner' join: the keys in the result are the **intersection**

In [3]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': [1 + i * 0.1 for i in xrange(1,8)]})
df1

   data1 key
0    1.1   b
1    1.2   b
2    1.3   a
3    1.4   c
4    1.5   a
5    1.6   a
6    1.7   b

In [4]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],  'data2': [2.1,2.2,2.3]})
df2

   data2 key
0    2.1   a
1    2.2   b
2    2.3   d

In [5]:
# # If not specified, merge uses the overlapping column names as the keys. It's a good practice to specify explicitly, though
pd.merge(df1,df2,on="key")

   data1 key  data2
0    1.1   b    2.2
1    1.2   b    2.2
2    1.7   b    2.2
3    1.3   a    2.1
4    1.5   a    2.1
5    1.6   a    2.1

If the column names are different in each object, you can specify them separately with **lef_on** and **right_on** parameter

In [6]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': [1 + i * 0.1 for i in xrange(1,8)]})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],'data2': [2.1,2.2,2.3]})
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0    1.1    b    2.2    b
1    1.2    b    2.2    b
2    1.7    b    2.2    b
3    1.3    a    2.1    a
4    1.5    a    2.1    a
5    1.6    a    2.1    a

<a id="outerjoin"></a>
### outer join
The outer join takes the **union** of the keys

In [7]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': [1 + i * 0.1 for i in xrange(1,8)]})
df1

   data1 key
0    1.1   b
1    1.2   b
2    1.3   a
3    1.4   c
4    1.5   a
5    1.6   a
6    1.7   b

In [8]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],  'data2': [2.1,2.2,2.3]})
df2

   data2 key
0    2.1   a
1    2.2   b
2    2.3   d

In [9]:
pd.merge(df1, df2, how='outer')

   data1 key  data2
0    1.1   b    2.2
1    1.2   b    2.2
2    1.7   b    2.2
3    1.3   a    2.1
4    1.5   a    2.1
5    1.6   a    2.1
6    1.4   c    NaN
7    NaN   d    2.3

<a id="multikeys"></a>
### join on multiple keys

In [10]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],'key2': ['one', 'two', 'one'], 'lval': [1.1, 1.2, 1.3]})
left

  key1 key2  lval
0  foo  one   1.1
1  foo  two   1.2
2  bar  one   1.3

In [11]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],'key2': ['one', 'one', 'one', 'two'],'rval': [2.1, 2.2, 2.3, 2.4]})
right

  key1 key2  rval
0  foo  one   2.1
1  foo  one   2.2
2  bar  one   2.3
3  bar  two   2.4

In [12]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

  key1 key2  lval  rval
0  foo  one   1.1   2.1
1  foo  one   1.1   2.2
2  foo  two   1.2   NaN
3  bar  one   1.3   2.3
4  bar  two   NaN   2.4

merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects

In [13]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one   1.1        one   2.1
1  foo       one   1.1        one   2.2
2  foo       two   1.2        one   2.1
3  foo       two   1.2        one   2.2
4  bar       one   1.3        one   2.3
5  bar       one   1.3        two   2.4

<a id="mergeonindex"></a>
## Merge on Index
In some cases, the merge key or keys in a DataFrame will be found in its index. In this case, you can pass **left_index=True or right_index=True (or both)** to indicate that the index should be used as the merge key

In [14]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'], 'value': [0.1*i+1 for i in xrange(1,7)]})
left1

  key  value
0   a    1.1
1   b    1.2
2   a    1.3
3   a    1.4
4   b    1.5
5   c    1.6

In [15]:
right1 = pd.DataFrame({'group_val': [2.1, 2.2]}, index=['a', 'b'])
right1

   group_val
a        2.1
b        2.2

In [16]:
pd.merge(left1, right1, left_on='key', right_index=True, how="outer")

  key  value  group_val
0   a    1.1        2.1
2   a    1.3        2.1
3   a    1.4        2.1
1   b    1.2        2.2
4   b    1.5        2.2
5   c    1.6        NaN

In [17]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]], index=['a', 'c', 'e'], columns=['Ohio', 'Nevada'])
left2

   Ohio  Nevada
a     1       2
c     3       4
e     5       6

In [18]:
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]], index=['b', 'c', 'd', 'e'], columns=['Missouri', 'Alabama'])
right2

   Missouri  Alabama
b         7        8
c         9       10
d        11       12
e        13       14

In [19]:
pd.merge(left2, right2,  left_index=True, right_index=True, how='outer')

   Ohio  Nevada  Missouri  Alabama
a     1       2       NaN      NaN
b   NaN     NaN         7        8
c     3       4         9       10
d   NaN     NaN        11       12
e     5       6        13       14

<a id=join></a>
## join
DataFrame has a more convenient **join** instance for merging by index. It can also be used to combine together many DataFrame objects having the **same or similar indexes but non-overlapping columns**.

In [20]:
left2.join(right2, how='outer')

   Ohio  Nevada  Missouri  Alabama
a     1       2       NaN      NaN
b   NaN     NaN         7        8
c     3       4         9       10
d   NaN     NaN        11       12
e     5       6        13       14

for simple index-on-index merges, you can pass a **list of DataFrames** to join

In [21]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]], index=['a', 'c', 'e', 'f'], columns=['New York', 'Oregon'])
left2.join([right2, another])

   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a     1       2       NaN      NaN         7       8
c     3       4         9       10         9      10
e     5       6        13       14        11      12

In [22]:
left2.join([right2, another], how='outer')

   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a     1       2       NaN      NaN         7       8
b   NaN     NaN         7        8       NaN     NaN
c     3       4         9       10         9      10
d   NaN     NaN        11       12       NaN     NaN
e     5       6        13       14        11      12
f   NaN     NaN       NaN      NaN        16      17

<span style="color:red;font-weight:bold">pay attention that, by default, join uses "left join", so switching the order will give different result</span>

In [24]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],columns=['one', 'two'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [25]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],columns=['three', 'four'])
df2

   three  four
a      5     6
c      7     8

In [26]:
df1.join(df2)

   one  two  three  four
a    0    1      5     6
b    2    3    NaN   NaN
c    4    5      7     8

In [27]:
df2.join(df1)

   three  four  one  two
a      5     6    0    1
c      7     8    4    5

In [28]:
df2.join(df1,how="outer")

   three  four  one  two
a      5     6    0    1
b    NaN   NaN    2    3
c      7     8    4    5