In [2]:
%pylab inline
from pandas import Series,DataFrame
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

# Create the DataFrame

In [3]:
# most basic way, just pass in the dictionary, nothing else
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002], 
        'population': [1.5, 1.7, 3.6, 2.4, 2.9]}
DataFrame(data)

   population   state  year
0         1.5    Ohio  2000
1         1.7    Ohio  2001
2         3.6    Ohio  2002
3         2.4  Nevada  2001
4         2.9  Nevada  2002

when created from dictionary, you can pass in two extra parameters:
1. you can specify the columns. in this way, not only can determine the order of columns, but also if a column is missing from the dictionary, that column will be set to all NaN
2. <span style="color:red">**index parameter, give name to each row**</span>

In [4]:
frame = DataFrame(data, columns=['year', 'state', 'population', 'debt'], index=['one', 'two', 'three', 'four', 'five'])
# debt is missing from the original dictionary, so it will be all NaN
frame

       year   state  population debt
one    2000    Ohio         1.5  NaN
two    2001    Ohio         1.7  NaN
three  2002    Ohio         3.6  NaN
four   2001  Nevada         2.4  NaN
five   2002  Nevada         2.9  NaN

# Index Columns

In [5]:
# index a single column by attribute. columns becomes attributes of the DataFrame
frame.population

one      1.5
two      1.7
three    3.6
four     2.4
five     2.9
Name: population, dtype: float64

In [6]:
# index multiple columns
frame[["year","state","debt"]]

       year   state debt
one    2000    Ohio  NaN
two    2001    Ohio  NaN
three  2002    Ohio  NaN
four   2001  Nevada  NaN
five   2002  Nevada  NaN

# Index Rows

<span style="color:red">**cannot use a single number to index a single row. that will cause an error, since Pandas assume you want to index a column**</span>

In [7]:
# use a slice to index rows
frame[:1]

     year state  population debt
one  2000  Ohio         1.5  NaN

In [8]:
# use iloc to reference
frame.iloc[[1,4],[1,2]]

       state  population
two     Ohio         1.7
five  Nevada         2.9

In [9]:
# ix, and pass in multiple row names
frame.ix[["two","three"]]

       year state  population debt
two    2001  Ohio         1.7  NaN
three  2002  Ohio         3.6  NaN

In [10]:
frame.loc[["two","three"],"year"]

two      2001
three    2002
Name: year, dtype: int64

In [11]:
frame.loc[["two","three"],["debt","year"]]

      debt  year
two    NaN  2001
three  NaN  2002